body {
  font-family: apercu;
  background-color: #B8C4CC;
}

.container {
  padding: 40px;
  background-color: white;
}

h1 {
  text-transform: uppercase;
  line-height: 100px;
  font-size: 50px;
  text-align: center;
  padding: 40px;
  color: white;
  background-color: #38E084;
  font-weight: bold;
}
