body {
  font-family: sans-serif;
  background-color: #B8C4CC;
}

.container {
  padding: 50px;
  background-color: white;
}

.heading {
  padding: 40px;
  font-size: 20px;
  line-height: 1.5em;
}

h1 {
  border-radius: 50px;
  text-transform: uppercase;
  font-size: 50px;
  text-align: center;
  padding: 40px;
  color: white;
  background-color: #38E084;
  font-weight: bold;
}

form {
  padding-left: 50px;
  padding-top: 20px;
  padding-bottom: 40px;
}

#retake {
  display: none;
}

#submitHide {
  display: none;
}


#android {
  display: none;
}

#ruby {
  display: none;
}

#dotNet {
  display: none;
}

#css {
  display: none;
}

#copOut {
  display: none;
}

.well {
  margin-top: 30px;
}
